body{
    font-family: 'Courier New', Courier, monospace;
    color:deeppink;
    text-align: center;
}

#cabecera{
	border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}

#cabecera h1{
    background-color:rgb(56, 56, 56);
    text-align: center;
    height: 1.7em;
    margin: auto;
    margin-top: 0%;
    color: pink;
    border: 1px solid black;
    font-family: Calibri;
    font-size: x-large;
}
#cabecera h5{
    margin: 0;
    background-color: rgb(56, 56, 56);
    color: pink;
    border: 1px solid black;
}

#cabecera div{
    margin: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
}