body{
    font-family: 'Courier New', Courier, monospace;
    color:deeppink;
    text-align: center;
}

#cabecera div{
	border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}

#cabecera h1{
    background-color:#9df5f8;
    text-align: center;
    height: auto;
    margin: auto;
    margin-top: 0%;
    color: black;
    border: 1px solid black;
    font-family: Calibri;
}
