body{
    font-family: 'Courier New', Courier, monospace;
    color:deeppink;
    text-align: center;
}

#cabecera{
	border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}

#header{
    background-color:#4d4d4d;
    text-align: center;
    height: auto;
    margin: auto;
    margin-top: 0%;
}
